<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tutumconductorv2">
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- Permisos para el uso de la camara -->
    <!-- ___________________________Inicio Apartado 2______________________________________________________ -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true" /> <!-- Permisos para el uso de la escritura en la memoria externa -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_tutum_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launcher_tutum_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TutumConductorV2"
        android:usesCleartextTraffic="true">
        <activity android:name=".RespuestaReporteViaje"></activity>
        <activity android:name=".RespuestaReporteTecnico" />
        <activity android:name=".ChatReportes" />
        <activity
            android:name=".Registro.datos_personales.PopUpContinuarRegistro"
            android:theme="@style/ThemePopUp" />
        <activity
            android:name=".MainPopUpUbicacion"
            android:theme="@style/ThemePopUp2" />
        <activity
            android:name=".Registro.datos_personales.MainPopUpData"
            android:theme="@style/ThemePopUp" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".Registro.menus_rol.MainDocumentosOk" />
        <activity android:name=".Registro.menus_rol.MainConductorDocumentos" />
        <activity
            android:name=".Registro.documentos_conductor.MainTextoPoliticaPrivacidad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registro.documentos_conductor.MainTextoTerminosCondiciones"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registro.documentos_conductor.MainCapturaCodigo"
            android:theme="@style/InputTextWhite" />
        <activity
            android:name=".Registro.documentos_conductor.MainCapturaTarjeton"
            android:theme="@style/InputTextBlack" />
        <activity
            android:name=".Registro.documentos_conductor.MainCapturaPoliza"
            android:theme="@style/InputTextBlack" />
        <activity
            android:name=".Registro.documentos_conductor.MainCapturaTarjetaCirculacion"
            android:theme="@style/InputTextBlack" />
        <activity
            android:name=".Registro.documentos_conductor.MainCapturaCaracteristicas"
            android:theme="@style/InputTextBlack" />
        <activity
            android:name=".Registro.documentos_conductor.MainCapturaLicencia"
            android:theme="@style/InputTextBlack" />
        <activity
            android:name=".Registro.documentos_conductor.MainCapturaIne"
            android:screenOrientation="portrait"
            android:theme="@style/InputTextBlack" />
        <activity
            android:name=".Registro.documentos_conductor.MainTerminosYCondiciones"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registro.menus_rol.MainSnvDocuemtos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registro.menus_rol.MainSocioDocumentos"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registro.menus_rol.MainRolConductor"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registro.datos_personales.MainOTP"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Registro.datos_personales.MainRegistroTelefono"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainInicioSesion"
            android:screenOrientation="portrait"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".Registro.datos_personales.MainRegistrate"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_ayuda"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_detalle_unidad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_historial_viajes"
            android:parentActivityName="home.HomeFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_perfil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_problema_tecnico"
            android:screenOrientation="portrait"
            android:theme="@style/InputTextBlack" />
        <activity
            android:name=".activity_termina_subir_documento"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_unidades"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CambioContrasena"
            android:screenOrientation="portrait"
            android:theme="@style/InputTextBlack" />
        <activity
            android:name=".CambioCorreo"
            android:screenOrientation="portrait"
            android:theme="@style/InputTextBlack" />
        <activity
            android:name=".CambioTelefono"
            android:screenOrientation="portrait"
            android:theme="@style/InputTextBlack" />
        <activity
            android:name=".caracteristicas_nueva_unidad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ComoUsarApp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProblemaViaje"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainVentanaPrincipal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main_IniciaSesion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Inicio"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"
                    android:screenOrientation="portrait" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity_ganancias"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportarProblema"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ReportarProblemaTecnico"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity_chat_reporte"
            android:screenOrientation="portrait" />
        <!--
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths">
            </meta-data>
        </provider>
        -->
        <!-- ____________________________ Inicio Apartado 3 __________________________________ -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- Ojo crear un documento Java con el nombre que se puso aqui -->
        <service
            android:name=".FCM"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>