<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tutumconductorv2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TutumConductorV2">
        <activity android:name=".activity_chat_reporte"></activity>
        <activity android:name=".MainDocumentosOkSnv" />
        <activity android:name=".MainTextoPoliticaPrivacidad" />
        <activity android:name=".MainTextoTerminosCondiciones" />
        <activity
            android:name=".MainCapturaCodigo"
            android:theme="@style/InputTextWhite" />
        <activity
            android:name=".MainCapturaTarjeton"
            android:theme="@style/InputTextBlack" />
        <activity
            android:name=".MainCapturaPoliza"
            android:theme="@style/InputTextBlack" />
        <activity
            android:name=".MainCapturaTarjetaCirculacion"
            android:theme="@style/InputTextBlack" />
        <activity
            android:name=".MainCapturaCaracteristicas"
            android:theme="@style/InputTextBlack" />
        <activity
            android:name=".MainCapturaLicencia"
            android:theme="@style/InputTextBlack" />
        <activity android:name=".MainCapturaIne" />
        <activity android:name=".MainTerminosYCondiciones" />
        <activity android:name=".MainSnvDocuemtos" />
        <activity android:name=".MainConductorDocumentos" />
        <activity android:name=".MainSocioDocumentos" />
        <activity android:name=".MainRolConductor" />
        <activity android:name=".MainOTP" />
        <activity android:name=".MainRegistroTelefono" />
        <activity android:name=".MainInicioSesion" />
        <activity android:name=".MainRegistrate" />
        <activity android:name=".activity_ayuda" />
        <activity android:name=".activity_detalle_unidad" />
        <activity android:name=".activity_historial_viajes" />
        <activity android:name=".activity_perfil" />
        <activity android:name=".activity_problema_tecnico" />
        <activity android:name=".activity_termina_subir_documento" />
        <activity android:name=".activity_unidades" />
        <activity android:name=".CambioContrasena" />
        <activity android:name=".CambioCorreo" />
        <activity android:name=".CambioTelefono" />
        <activity android:name=".caracteristicas_nueva_unidad" />
        <activity android:name=".ComoUsarApp" />
        <activity android:name=".ProblemaViaje" />
        <activity android:name=".MainVentanaPrincipal" />
        <activity android:name=".Main_IniciaSesion" />
        <activity android:name=".ReportarProblema" />
        <activity android:name=".ReportarProblemaTecnico" />
        <activity android:name=".activity_ganancias" />
        <activity android:name=".Inicio" />
        <activity android:name=".activity_chat_reporte"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>